{{- $is_work := promptBoolOnce . "is_work" "Is this a work machine?" -}}
{{- $is_wsl := contains "microsoft" (.chezmoi.kernel.osrelease | lower) -}}
{{- $is_desktop := and (promptBoolOnce . "is_desktop" "Is this a desktop machine?") (not $is_wsl) -}}

encryption = "age"

[age]
  identity = "~/.secrets/age_chezmoi.key"
{{- if $is_work }}
  recipient = "..."
{{- else }}
  recipient = "age12a6572xj0gcg5k4j8z0nzgmqyhwkn3tf3ly0jftzhlugj82t6uashywa0t"
{{- end }}

[data]
  is_work = {{ $is_work }}
  is_desktop = {{ $is_desktop }}
  is_wsl = {{ $is_wsl }}

