[init]
  defaultBranch = main

[user]
{{- if .is_work }}
  name = {{ (include ".git_work_name.age") | decrypt }}
  email = {{ (include ".git_work_email.age") | decrypt }}
{{- else }}
  name = {{ (include ".git_personal_name.age") | decrypt }}
  email = {{ (include ".git_personal_email.age") | decrypt }}
{{- end }}

[fetch]
  prune = true

# repos whose remote uses the "github-privat" ssh host alias get the
# personal identity, regardless of machine type (is_work)
[includeIf "hasconfig:remote.*.url:git@github-privat:**/*"]
  path = ~/.gitconfig-privat
