brew "age"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "direnv"
brew "fd"
brew "fzf"
brew "gcc"
brew "hadolint"
brew "jq"
brew "lazygit"
brew "mise"
brew "ncdu"
brew "neovim"
brew "node"
brew "oh-my-posh"
brew "ripgrep"
brew "sops"
brew "yazi"

{{- if .isWorkPC }}
{{- else }}
{{- end }}


