brew "age"
brew "bat"
brew "chezmoi"
brew "direnv"
brew "fd"
brew "fzf"
brew "gcc"
brew "hadolint"
brew "jq"
brew "lazygit"
brew "mise"
brew "ncdu"
brew "neovim"
brew "node"
brew "oh-my-posh"
brew "ripgrep"
brew "sops"
brew "yazi"

tap "go-task/tap"
brew "go-task/tap/go-task"

{{- if .is_work }}
brew "awscli"
brew "pipx"
brew "uv"
cask "copilot-cli"
{{- else }}
tap "hougesen/tap"
brew "hougesen/tap/kdlfmt"
{{- end }}


