Host *
  AddKeysToAgent yes
  PreferredAuthentications publickey
  IdentitiesOnly yes
{{- if .is_work }}
  IdentityFile ~/.ssh/id_ed25519
{{- else }}
  IdentityFile ~/.ssh/id_rsa

Host ghost
  IdentityFile ~/.ssh/id_ed25519
{{- end }}

