{{- if .is_work }}
{{ template "ssh_work_hosts.tmpl" . }}
{{ template "ssh_work_github.tmpl" . }}
{{- end }}

Host *{{ if .is_work }} !github.com !github-privat{{ end }}
  AddKeysToAgent yes
  PreferredAuthentications publickey
  IdentitiesOnly yes
{{- if .is_work }}
  IdentityFile ~/.ssh/id_ed25519
{{- else }}
  IdentityFile ~/.ssh/id_ed25519
{{- end }}
