{{- if .is_work }}
Host bitbucket.bah.local
  User git
  PreferredAuthentications publickey
  PubkeyAuthentication yes
  PasswordAuthentication no
  KbdInteractiveAuthentication no
  GSSAPIAuthentication no

Host ssh.dev.azure.com
  User git
  PreferredAuthentications publickey
  PubkeyAuthentication yes
  PasswordAuthentication no
  KbdInteractiveAuthentication no
  GSSAPIAuthentication no
  IdentityFile ~/.ssh/id_rsa

Host *.bah.local
  User hafa
  # Force password/keyboard-interactive and disable keys & GSSAPI
  PreferredAuthentications password,keyboard-interactive
  PubkeyAuthentication no
  PasswordAuthentication yes
  KbdInteractiveAuthentication yes
  GSSAPIAuthentication no

  # Optional quality-of-life settings
  ServerAliveInterval 30
  ServerAliveCountMax 6
  StrictHostKeyChecking accept-new   # or "yes" in stricter envs
  UserKnownHostsFile ~/.ssh/known_hosts
{{- end }}

Host *
  AddKeysToAgent yes
  PreferredAuthentications publickey
  IdentitiesOnly yes
{{- if .is_work }}
  IdentityFile ~/.ssh/id_ed25519
{{- else }}
  IdentityFile ~/.ssh/id_rsa

Host ghost
  IdentityFile ~/.ssh/id_ed25519
{{- end }}
