Host github.com
  User git
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_ed25519_work

Host github-privat
  HostName github.com
  User git
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_ed25519_privat
